<div class="card bg-light mx-auto" style="width: 500px;">
  <article class="card-body mx-auto" style="max-width: 450px;">
	  <h2 class="card-title mt-3 text-center">Modifier mon profil</h2>
    <hr>
    <!-- FORM -->
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      
      <!-- CONFIRMATION MESSAGES, ALERT MESSAGES AND WARNING MESSAGES -->
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- FIRST NAME -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fas fa-user"></i> </span>
        </div>
        <%= f.text_field :first_name, autofocus: true, class:"form-control", placeholder: "Prénom", autocomplete: "first-name" %>
      </div> <!-- form-group// -->

      <!-- LAST NAME -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fas fa-users"></i> </span>
        </div>
        <%= f.text_field :last_name, autofocus: true, class:"form-control", placeholder: "Nom de famille", autocomplete: "last-name" %>
      </div> <!-- form-group// -->

      <!-- EMAIL -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fas fa-at"></i> </span>
        </div>  
        <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "Adresse email", autocomplete: "email" %>
      </div> <!-- form-group// -->

      <!-- PASSWORD -->
      <% if @minimum_password_length %>
        <i class="d-flex justify-content-center">(<%= @minimum_password_length %> caractères minimum)</i>
      <% end %>
      <i class="d-flex justify-content-center">(laisse vide si tu ne souhaites pas le modifier)</i>
      <div class="form-group input-group">
    	  <div class="input-group-prepend">
		      <span class="input-group-text"> <i class="fas fa-lock"></i> </span>
		    </div>
        <%= f.password_field :password, class:"form-control", placeholder: "Nouveau mot de passe", autocomplete: "new-password" %>
      </div> <!-- form-group// -->
      
      <!-- PASSWORD CONFIRMATION -->
      <i class="d-flex justify-content-center">(laisse vide si tu ne souhaites pas le modifier)</i>
      <div class="form-group input-group">
    	  <div class="input-group-prepend">
		      <span class="input-group-text"> <i class="fas fa-lock"></i> </span>
		    </div>
        <%= f.password_field :password_confirmation, class:"form-control", placeholder: "Nouveau mot de passe (confirmation)", autocomplete: "new-password" %>
      </div> <!-- form-group// -->    

      <!-- CURRENT PASSWORD -->
      <i>(uniquement si tu modifies le mot de passe)</i>
      <div class="form-group input-group">
    	  <div class="input-group-prepend">
		      <span class="input-group-text"> <i class="fas fa-lock"></i> </span>
		    </div>
        <%= f.password_field :current_password, class:"form-control", placeholder: "Ancien mot de passe", autocomplete: "current-password" %>
      </div> <!-- form-group// --> 

      <!-- VALIDATION BUTTON -->
      <div class="actions">
        <%= f.submit "Modifier", class: "btn btn-primary btn-block" %>
      </div>

    <% end %> <!-- form.// -->

    <!-- DELETE ACCOUNT BUTTON -->
    <h4 class="card-title mt-5 text-center">Suprimer mon compte</h4>
    <hr>
    <!-- FORM -->
    <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr de vouloir supprimer le compte ?" }, method: :delete, class: "btn btn-danger btn-block" %>


    <!-- OTHER LINKS -->
    <div class="actions text-center mt-5">
      <%= link_to 'Retour', :back, class: "btn btn-secondary" %>
    </div>
    
  </article>
</div> <!-- card.// -->

