<%- if controller_name != 'sessions' %>
  <p class="text-center">Déjà un compte ? <%= link_to "Me connecter", new_session_path(resource_name) %><br /> </p>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p class="text-center">Pas encore de compte ? <%= link_to "Créer mon compte", new_registration_path(resource_name) %><br /> </p>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <p class="text-center">Un petit oubli ? <%= link_to "Mot de passe oublié", new_password_path(resource_name) %><br /> </p>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <p class="text-center">Pas reçu de confirmation ? <%= link_to "Renvoyer les instructions de confirmation", new_confirmation_path(resource_name) %><br /> </p>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <p class="text-center">Compte bloqué ? <%= link_to "Renvoyer les instruction de déblocage", new_unlock_path(resource_name) %><br /> </p>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Se connecter avec #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end %>
<% end %>
