<h2> Dashboard Administrateur </h2> 
<br>
<br>
<h6> Nombre total de photos de chat sur le site : <%= Item.count%> </h6>
<h6> Nombre d'utilisateurs inscrits actuellement sur le site : <%= User.count%> </h6>
<h6> Actuellement le nombre total des commandes s'élève à : <%= Order.count%> </h6>
<h6> En voici les détails : </h6>
 
 <% @users.each do |user| %>

 <% user.orders.each do |order| %>
        <h6 class="card-title mt-5 text-center"><i class="fas fa-paw"></i>Commande de <i><u> <%= user.first_name%> <%= user.last_name %> </u></i></h6>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Produit</th>
              <th scope="col">Prix unitaire</th>
              <th scope="col">Quantitée</th>
              <th scope="col">Sous total</th>
            </tr>
          </thead>
          <tbody>
            <!-- LINE ITEM LIST -->
            <% j = 0 %>
            <% order.line_items.each_with_index do |line_item,i| %>
              <tr>
                <% j += line_item.subtotal %>
                <th scope="row"><%= i + 1 %></th>
                <td><%= line_item.item.title %></td>
                <td><%= line_item.item.price %> €</td>
                <td><%= line_item.quantity %> </td>
                <td><%= line_item.subtotal %> €</td>
              </tr>
            <% end %>
          <h6 class="card-title mt-5 text-center">Total de la commande: <%= j %> € </h6>
          </tbody>
        </table>
      <% end %>
    <% end %>
    