<p id="notice"><%= notice %></p>

<p>
  <strong>votre panier contient:</strong>
  <%= @line_item.each do |line| %>
     <%= line.item.title %> 
     <%= line.item.price %> 
  <% end %>
</p>

<%
=begin%>
 <%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %> 
<%
=end%>
