
<div class="card">
  <h1 class="m-3">Modifier le chatton</h1>
  <div class="m-auto, col-6 mt-3">
    <%= render 'form', item: @item%>

    <h4 class="mt-5 text-center">Photo</h4>
    <% if @item.picture.attached? %>
      <div class="center-element-middle text-center">
        <%= image_tag @item.picture, alt: 'photo de chat', class: "", height: "200" %>
      </div>
    <% else %>
      <p>aucune photo de chat</p>
    <% end %>

    <%= form_tag item_pictures_path(@item), multipart: true do %>
      <div class="form-group mt-2 center-element-middle text-center">
        <%= file_field_tag :picture %>
        <%= submit_tag "Modifier la photo", class:"btn btn-primary btn-sm"%>
      </div>
    <% end %>
  </div>

  

  <br><hr><br>
  <div class="m-auto text-center">
    <%= link_to 'Voir', @item, class:"btn btn-secondary btn-sm"%> |
    <%= link_to 'Retour', items_path, class:"btn btn-secondary btn-sm" %>
  </div>
</div>