
<div class ="row col">
  <% @items.each do |item| %>
    <div class="card mb-3 m-auto" style="width:18rem;">
      <h3 class="card-header"><%= item.title %></h3>
      <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
      </svg>
      <div class="card-body">
        <p class="card-text"> <%= item.description %></p>
      </div>
      <div>
        <span class="card-price"> <%= item.price %> </span>
        <span class ="symbol">€</span>
      </div>
      <div class="card-body">
        <%= link_to 'Infos', item, class: "btn btn-outline-primary" %>
        <% if current_user != nil %>
          <%= link_to 'Ajouter au panier', line_items_path(item_id: item.id), method: :post, class: "btn btn-outline-success" %>
        <% else %>
          <%= link_to 'Ajouter au panier', new_user_session_path, method: :get, class: "btn btn-outline-success" %>
        <% end %>
      </div>
      <div class="fronter">  
          _________________________________
      </div>
    </div>
  <% end %>
</div>
