<p id="notice"><%= notice %></p>


<div class="center-element-middle">
<div class="card mb-3" style="width: 30rem;" height="200">
  <h3 class="card-header"><%= @item.title %></h3>

 
  
  <div class="card-body">
    <h6 class="card-text"><%= @item.description %></h6>
  </div>
  
  <ul class="list-group list-group-flush">
  </ul>
  <div class="card-body">
    <h4 class="card-title">Prix : <%= @item.price %> €</h4>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  
</div>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
</div>

<h3>Avatar actuel</h3>
<%if @item.avatar.attached?%>
  <%= image_tag @item.avatar, alt: 'avatar' %>
<%else%>
  <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
<%end%>
<%= form_tag do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "uploader l'avatar" %>
<% end %>
