<header class="sticky-top">
  <!-- BEGINNING NAVBAR -->
  <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
    
    <!-- LOGO -->
    <a class="navbar-brand btn btn-primary" href="<%= root_path %>">
      <i class="fas fa-cat fa-1x pr-4" style="color:white" ></i>
      <h5>Kitten Shop</h5>
    </a>
    
    <!-- TOGGLE BUTTON -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAVBAR ITEMS -->
    <div class="collapse navbar-collapse" id="navbarColor01">
      
      <!-- LINKS -->
      <ul class="navbar-nav mr-auto">
        <!-- HOME -->
        <li class="nav-item">
          <%= link_to "Accueil", root_path, :class => "nav-link btn btn-primary" %>
        </li>


        <!-- TEST DROPDOWN -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            [T]
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- CHARGES -->
            <a class="dropdown-item" href="">charges#new (todo)</a>
            <!-- CARTS -->
            <a class="dropdown-item" href="#">carts#show (todo)</a>
            <!-- ORDERS -->
            <a class="dropdown-item" href="#">orders#show (todo)</a>
            <!-- ITEMS -->
            <a class="dropdown-item" href="<%= items_path %>">items#index</a>
            <a class="dropdown-item" href="<%= new_item_path %>">items#new</a>
            <a class="dropdown-item" href="<%= edit_item_path(1) %>">items#edit n°1</a>
            <a class="dropdown-item" href="<%= item_path(1) %>">items#show n°1</a>
            <!-- USERS -->
            <a class="dropdown-item" href="<%= new_user_session_path %>">sessions#new</a>
            <% if user_signed_in? %>
              <a class="dropdown-item" href="<%= destroy_user_session_path(session[:user_id]) %>" data-confirm="Es-tu sûr de vouloir te déconnecter ?" data-method="DELETE">sessions#destroy</a>
            <% end %>
            <a class="dropdown-item" href="<%= new_user_password_path %>">passwords#new</a>
            <a class="dropdown-item" href="<%= edit_user_password_path %>">passwords#edit</a>
            <% if user_signed_in? %>
              <a class="dropdown-item" href="<%= user_registration_path %>" data-confirm="Es-tu sûr de vouloir supprimer le compte ?" data-method="DELETE">registrations#destroy</a>
            <% end %>
            <a class="dropdown-item" href="<%= new_user_registration_path %>">registrations#new</a>
            <a class="dropdown-item" href="<%= edit_user_registration_path %>">registrations#edit</a>
            <% if user_signed_in? %>
              <a a class="dropdown-item" href="<%= user_path(current_user.id) %>">users#show</a>
            <% end %>
          </div>
        </li>
        
        <!-- ABOUT -->
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="<%= teams_path %>">La team</a> 
        </li>
        <!-- ADMIN TEST -->
         <% if is_current_user_admin? %>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="<%= admin_orders_path%>">Admin stuff</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="<%= new_item_path%>">Créer un chaton</a> 
        </li>
        <% end %>
      </ul> 
      

      <!-- USER CART -->
      <div class="navbar-nav mt-3 mr-4">
        <% if user_signed_in? %>
          <% if Cart.where(user_id: current_user.id).last %>
            <a class="nav-link btn btn-primary" href="<%= user_cart_path(id: Cart.where(user_id: current_user.id).last, user_id:current_user.id) %>">
              <i class="fas fa-shopping-cart fa-2x " style="color:white"></i>
              <p class="text-center"><small style="color:white">Panier</small></p>
            </a>
          <% end %>
        <% end %>
      </div>

      <!-- USER BUTTONS -->
      <div class="row navbar-nav dropdown mr-4" id="navbarColor01">
        <!-- LOGIN MENUS -->
        <% if user_signed_in? %>
          <button class="nav-link btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
            <i class="fas fa-user-circle mr-1"></i>
            <% if current_user.first_name %>
              <%= current_user.first_name %>
            <% else %>
              Mon profil
            <% end %>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a href="<%= user_path(current_user.id) %>" class="dropdown-item" href="#">Mon profil</a>
            <div class="dropdown-divider"></div>
            <a href="<%= destroy_user_session_path(session[:user_id]) %>" data-confirm="Es-tu sûr de vouloir te déconnecter ?" data-method="DELETE" class="dropdown-item">Se déconnecter</a>
          </div>
        <!-- LOGOUT MENUS -->
        <% else %>
          <button class="nav-link btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle mr-1"></i>Se connecter / S'inscrire
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to "Se connecter", new_user_session_path, :class => "dropdown-item"%>
            <div class="dropdown-divider"></div>
            <%= link_to "S'inscrire", new_user_registration_path, :class => "dropdown-item"%>
          </div>
        <% end %>
      </div>

    </div>
  </nav>
  <!--END OF NAVBAR PART -->
</header>